<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.assignment.dao.CarRentalOrderMapper">



    <!--mysql-->
    <insert id="insertCarRentalOrder" parameterType="com.example.assignment.domain.po.CarRentalOrderPO" keyProperty="id">
    INSERT INTO  demo_car_rental_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelName!=null and ''!=modelName">
                model_name,
            </if>
            <if test="customerName!=null and ''!=customerName">
                customer_name,
            </if>
            <if test="carNo!=null and ''!=carNo">
                car_no,
            </if>
            <if test="startTime!=null and ''!=startTime">
                start_time,
            </if>
            <if test="endTime!=null and ''!=endTime">
                end_time,
            </if>
            <if test="createTime!=null and ''!=createTime">
                create_time,
            </if>
            <if test="updateTime!=null and ''!=updateTime">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelName!=null and ''!=modelName">
                #{modelName},
            </if>
            <if test="customerName!=null and ''!=customerName">
                #{customerName},
            </if>
            <if test="carNo!=null and ''!=carNo">
                #{carNo},
            </if>
            <if test="startTime!=null and ''!=startTime">
                #{startTime},
            </if>
            <if test="endTime!=null and ''!=endTime">
                #{endTime},
            </if>
            <if test="createTime!=null and ''!=createTime">
                #{createTime},
            </if>
            <if test="updateTime!=null and ''!=updateTime">
                #{updateTime},
            </if>
        </trim>
    </insert>


</mapper>