<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.assignment.dao.CarRentalLogMapper">


    <resultMap type="com.example.assignment.domain.po.CarDailyRentalLogPO" id="carrentallog_result">
        <result property="carNo" column="car_no"/>
        <result property="status" column="status"/>
        <result property="recordTime" column="record_time"/>
    </resultMap>

    <sql id ="cardailyrentallog_column">
        car_no,
        status,
        record_time
    </sql>

    <sql id ="query_sharing">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
        1=1
        <if test="carNo!=null">
            AND car_no = #{carNo}
        </if>
        <if test="status!=null">
                AND status = #{status}
        </if>
        <if test="carNoList!=null">
            AND car_no IN
            <foreach collection="carNoList" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        </trim>

    </sql>



    <select id="queryCarDailyRentalLogList" resultMap="carrentallog_result" parameterType="java.util.HashMap">
        SELECT
        <include refid="cardailyrentallog_column" />
        FROM demo_car_daily_rental_log
        <include refid="query_sharing" />
    </select>


    <update id="updateCarRentalLogStatus" parameterType="com.example.assignment.domain.po.CarDailyRentalLogPO">
        UPDATE
        demo_car_daily_rental_log o
        set
        o.status = #{status}
        WHERE
        o.car_no = #{carNo}
        and
        o.record_time in
        <foreach collection="operateTimeList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>




</mapper>